Новый текстовый документ.txt
diploma.zip
DAN_Mathematics_Obrazets_utf.tex
DAN_Mathematics_Obrazets_utf.aux
DAN_Mathematics_Obrazets_utf.fdb_latexmk
DAN_Mathematics_Obrazets_utf.fls
DAN_Mathematics_Obrazets_utf.log
DAN_Mathematics_Obrazets_utf.pdf
DAN_Mathematics_Obrazets_utf.synctex.gz
